---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2/?app_id=ID&app_key=KEY&q=dsf34&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Sat, 23 Sep 2023 18:09:43 GMT
recorded_with: VCR 6.2.0
